<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/requests/**" auto-config="true">
        <csrf disabled="true" />
    </http>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />


    <beans:bean id="servicesEntryPoint"
                class="app.jwt.AuthenticationEntryPoint" />
    <beans:bean id="customAccessDeniedHandler"
                class="app.jwt.CustomAccessDeniedHandler" />

    <beans:bean id="convertPasswordUtils" class="app.util.ConvertNewUserUtils"/>

    <beans:bean id="jwtAuthenticationFilter" class="app.jwt.JwtAuthenticationTokenFilter">
        <beans:property name="authenticationManager" ref="authenticationManager" />
    </beans:bean>
    <http pattern="/user/login" security="none"/>
    <http pattern="/user/**" auto-config="false" use-expressions="true"
          create-session="stateless" entry-point-ref="servicesEntryPoint">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>

        <custom-filter position="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/>
        <access-denied-handler ref="customAccessDeniedHandler"/>
        <csrf disabled="true" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="loginService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>